<%= form_for [@post, Comment.new], remote: true, :authenticity_token => true do |f| %>
  Add Comment:<br/>

  <%= f.hidden_field :post_id, :value => @post.id%>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
